<div class="topic-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="topic-index-single">
            　<div class ="profile-img">
                 <% if @radio.user.image? %>                                                              
                   <%= image_tag @radio.user.image.url,class:"icon-image" %>
                 <% else %>
                   <%= image_tag 'images/icons/no_icon.png',class:"icon-image" %>
                 <% end %>
              </div>
            <h2 class="topic-author">
              <%= @radio.user.name %>
            </h2>
             <div class="radio-title">
               <%= @radio.title %>
             </div>
            <%= audio_tag @radio.audio_url, :controls => true if @radio.audio? %>
              <% if !@radio.favorite_users.include?(current_user) %>
                  <%= link_to favorites_path(radio_id: @radio.id), method: :post do %>
                   <i class="far fa-heart fa-2x like-btn" ></i>
              <% end %>
                <%= @radio.favorites.count %>
              <% else %>
                  <%= link_to favorite_path(@radio.favorites.find_by(user_id: current_user.id)), method: :delete do %>
                   <i class="fas fa-heart fa-2x unlike-btn"></i>
              <% end %>
                <%= @radio.favorites.count %>  
              <% end %>
             <i class="far fa-comment  fa-2x"></i>
              <%= @radio.comments.count %>
            <% if @radio.user == current_user %>
              <%= link_to edit_radio_path(@radio) do %>
              <i class="far fa-edit fa-2x"></i>
              <%  end %>
              <%= link_to radio_path(@radio), method: :delete ,data: {confirm: "本当にいいですか？"} do %>
              <i class="far fa-trash-alt fa-2x"></i>
              <% end %>
            <% end %>
            <p class="topic-text">
              <div>説明</div>
              <%= @radio.description %>
            </p>
            
            <div class="panel-group">
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1">コメント一覧</a>
                  </h4>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                  <div class="panel-body">   
                 <% @comments.each do |comment| %>
              <div>
                <% unless comment.user.blank? %>
                　<div class ="profile-img">
                  <% if comment.user.image? %> 
                     <%= link_to user_path(current_user.id) do %>
                       <%= image_tag comment.user.image.url,class:"icon-image"%>
                  <% end %>
                  <% else %>
                     <%= link_to user_path(comment.user.id) do %>
                       <%= image_tag 'images/icons/no_icon.png',class:"icon-image" %>
                     <% end %>
                  <% end %>
                   </div>
                  <%= comment.content %>
                  <% if comment.user == current_user %>
                  <%= link_to radio_comment_path(radio_id: @radio, id: comment.id), method: :delete ,data: {confirm: "本当にいいですか？"} do %>
                    <i class="far fa-trash-alt "></i>
                  <% end %>
                  <% end %>
                <% end %>
                <br />
              </div>
              　<br />
            <% end %>
                  </div>
                </div>
              </div>
            </div>
              <%= form_with(model: [@radio, @comment], local: true) do |f| %>
                <%= f.text_area :content, class: "form-control", rows: 5 %>
                <%= button_tag type: "submit", class: "btn btn-success float-right mt-1" do %>
                  <i class="far fa-comments"></i> コメントする
                <% end %>
              <% end %>
          </div>
        </div>
      </div>

  </div>
</div>
